/*This is the external CSS file, where we will put the styles to be applied in the HTML file.*/
body {
    padding-bottom: 500px;
}
h2 {
    color:green;
}
/*classes*/
.highlight {
    background-color: yellow;
    color: black;
}
/*Ids*/
#exclusive-title {
    color: yellow;
    font-size: 24px;
    background-color: purple;
    padding: 10px;
}
/*rules orders on CSS*/
#first-title {
    border-bottom: 2px solid red;
}
.second-title {
    border-bottom: 2px solid green;
}
h2 {
    border-bottom: 2px solid black;
}
.color-name {
    color:rgb(226, 75, 105);
    border-bottom: none;
}
.hex {
    color: #0ff506;
}
