/*This is the external CSS file, where we will put the styles to be applied in the HTML file.*/
body {
    padding-bottom: 500px;
}
.bg {
    background-color: black;
}
h2 {
    color:green;
}
/*classes*/
.highlight {
    background-color: yellow;
    color: black;
}
/*Ids*/
#exclusive-title {
    color: yellow;
    font-size: 24px;
    background-color: purple;
    padding: 10px;
}

/*rules orders on CSS*/
#first-title {
    border-bottom: 2px solid red;
}
.second-title {
    border-bottom: 2px solid green;
}
h2 {
    border-bottom: 2px solid black;
}
.color-name {
    color:rgb(226, 75, 105);
    border-bottom: none;
}
.hex {
    color: #0ff506;
}

/*RGB function*/
.rgb {
    color:rgb(255, 0, 0);
}
.mixed-rgb {
    color: rgb(100, 150, 200);
}

/*RGBa function*/
.rgba {
    color: rgba(235, 49, 45, 0.89);
}
.hsl {
    color: hsl(100, 20%, 50%);
}
.hsl-2 {
    color: hsl(200, 50%, 70%);
}

/*background color function*/
.bg-2 {
    background-color: white;
    color: blue;
}
.bg-opacity p {
    background-color: white;
    color: black;
    opacity: 0.3;
}
.bg-opacity h1 {
    background-color: rgb(255, 255, 255, 0.5);
    color: black;
}
.bg-image {
    background-image: url("Imagens/imagem programação.jpg");
    color: white;
}
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("Imagens/imagem programação.jpg");
}
.centered-bg {
    background-position: center;
    background-size: cover;
}
/*height and width*/
.height-width {
    height: 200px;
    width: 200px;
    background-color: red;
}
/*padding*/
.without-padding {
    background-color: #584;
    color: #fff;
}
.padding {
    padding: 20px;
    background-color: white;
}
/*individual padding*/
.individual-padding {
    background-color: white;
    color: black;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

